<div class="container">
	<div class="row">
		 <h1><i class="fa fa-lock" aria-hidden="true"></i> {{'reset.resetpassword'| translate}}</h1>
    </div><br /><br />
    <div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
		</div>
		<input type="text" name="mail" class="form-control" placeholder="email" [(ngModel)] = "email"/>
	</div><br />
	<button type="button" class="btn btn-success" (click)="resetpassword()"><span class="glyphicon glyphicon-off"></span> {{'reset.reset'| translate}}</button>
     
</div>
